.app-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .home-button,
  .logout-button {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px;
    max-width: 100px; /* Adjust as needed for button size */
  }
  
  .user-info {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
  }
  
  .logout-button:hover,
  .home-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  